@media screen and (max-width: 1024px) {
    .container {
        width: 100%;
        margin: 0 5px;
    }

    .menu-item {
        display: none;
    }

    .user {
        display: block;
        width: 60px;
        height: 40px;
    }

    .primary-grid{
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        margin: 0 10px;
        column-gap: 10px;
    }

    .mainimg {
        width: 100%;
        height: auto;
    }
}