@media screen and (max-width: 1024px) {
    .container {
        width: 100%;
        margin: 0 5px;
    }

    .menu-item {
        display: none;
    }

    .grid-2 {
        display: none;
    }

    .grid-1-responsive-img {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .user {
        display: block;
        width: 60px;
        height: 40px;
    }

    .grid-1 {
        grid-column-end: span 2;
    }

    .mainimg {
        width: 100%;
        height: auto;
    }
}