* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Droid Sans", Helvetica, sans-serif;;
}


html {
    scroll-behavior: smooth;
}

.header-placeholder {
    display: block;
}

.nav-primary {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4em;
    border-bottom: 1px solid #9d9a98;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .25);
    left: 0;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: 2147483637;
}

.pushnav-flex {
    order: 1;
    width: 33%;
}

.pushnav {
    display: block;
    overflow: hidden;
    height: 4em;
}

.menu-toggle {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0.9375rem;
    width: fit-content;
    cursor: pointer;
}

#icon-hamburger {
    padding-right: 0.25rem;
}

.label {
    font: normal 600 0.9375em/1.0666666667 "Droid Sans", Helvetica, sans-serif;
    padding-left: 0.25rem;
    color: #0a0908;
}

.custom-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    position: relative;
}

.logo {
    order: 2;
    width: 33%;
    align-self: center;
    font: normal 600 0.9375em/1.0666666667 "Droid Sans", Helvetica, sans-serif;
}

.nav__logo {
    margin: 0 auto;
    max-height: 3em;
    width: 100%;
    object-fit: contain;
}

.sub-login {
    order: 3;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 15%;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.list-item {
    display: block;
}

.menu-item {
    width: 8em;
    display: block;
    margin-left: 1em;
    background-color: #7d161e;
    color: #fff;
    text-align: center;
    padding: 7% 5%;
    border-radius: 4px;
    font: normal 600 0.9375em/1.7333333333 "Droid Sans", Helvetica, sans-serif;
}

.menu-item:hover {
    background-color: red;
    text-decoration: underline;
}

.search-icon {
    display: flex;
    order: 4;
    width: 4%;
    align-items: center;
    justify-content: center;
    padding: 0.9375rem;
    cursor: pointer;
}

.nav-primary a {
    text-decoration: none;
}

.menu {
    display: none;
}

.menu-line {
    width: 15px;
    height: 3px;
    background-color: black;
    margin-bottom: 4px;
}

.breaking-bar {
    background-color: #7d161e;
    color: #fff;
    align-items: center;
    border: 0;
    display: flex;
    margin-bottom: 1em;
    min-height: 2.1875em;
    padding: 0em 0.625em;
    width: 100%;
}

.breaking-bar-inner {
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
}

.breaking-bar h2 {
    background-color: transparent;
    color: #0a0908;
    font-size: 1.125em;
    flex: 0 0 8.6111111111em;
    min-width: 8.8888888889em;
    padding: 0;
    position: static;
}


@media (min-width: 65em) {
    .nav-primary {
        height: 4em;
    }

    .header-placeholder {
        height: 14rem;
    }
}

@media screen and (max-width: 480px) {
    .nav-primary {
        flex-direction: column;
    }

    .nav-primary .container-icon {
        width: 100%
    }

    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .nav-list {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }

    .nav-list .list-item {
        display: block;
        padding: 10px;
        border-top: 1px solid white;
    }

    .logo {
        width: 53%;
        margin-left: 10px;
        margin-top: 10px;
    }

    .active {
        display: block;
    }
}