* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Droid Sans", Helvetica, sans-serif;
    font-size: 16px;
}

@font-face {
    font-family: DroidSans;
    src: url("fonts/DroidSans.ttf") format("truetype");
}

@font-face {
    font-family: DroidSerif;
    src: url("fonts/DroidSerif.ttf") format("truetype");
}

@font-face {
    font-family: SourceSansPro;
    src: url("fonts/SourceSansPro.ttf") format("truetype");
}

html {
    scroll-behavior: smooth;
}

.user, .grid-1-responsive-img, .responsive-election-img-div {
    display: none;
}

.container a {
    text-decoration: none;
    color: black;
}

.container a:hover {
    color: #7d161e;
}

ul {
    list-style-type: none;
}

ul.counter {
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

ul.counter li {
    counter-increment: item;
    position: relative;
    list-style: none;
    font-size: 16px;
    display: inline-flex;
    padding: 1em 0 0.3em 0;
    font-weight: bold;
    line-height: 20px;
}

ul.counter li:before {
    content: counter(item);
    background-color: #7d161e;
    color: white;
    font-weight: bolder;
    min-width: 32px !important;
    max-width: 32px !important;
    min-height: 32px !important;
    max-height: 32px !important;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    margin-right: 0.6em;
    font-size: 20px;
}


.nav-primary {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 4em;
    border-bottom: 1px solid #9d9a98;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .25);
    z-index: 1;
}

.menu-toggle {
    display: flex;
    align-items: center;
    padding: 0.9375rem;
}

.label {
    font: normal 600 0.9375em/1.0666666667 "Droid Sans", Helvetica, sans-serif;
    padding-left: 0.25rem;
    color: #0a0908;
}

.logo {
    height: auto;
    align-self: center;
}

.nav__logo {
    margin: 0 auto;
    max-height: 3em;
    width: 100%;
    object-fit: contain;
}

.sub-login {
    margin-top: 20px;
}

.sub-login span {
    padding-right: 5px;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}

.menu-item {
    background-color: #7d161e;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 0.5901875em 0.41875em 0.5901875em 0.41875em;
    border-radius: 4px;
    font: normal 600 0.9375em/1.7333333333 "Droid Sans", Helvetica, sans-serif;
}

.menu-item:hover {
    background-color: red;
    text-decoration: underline;
}

.container {
    max-width: 955px;
    margin: 0 auto;
}

.primary-grid {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    column-gap: 20px;
}

.central-news-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 15px;
}

.grid-4 div, .grid-6 div {
    padding-top: 20px;
    padding-bottom: 20px;
}

.grid-1, .grid-2 {
    border-bottom: 1px solid #000000;
    padding-bottom: 25px;
}


.header-text {
    font-size: 25px;
}

.header-bold-text {
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
}

.centered {
    text-align: center !important;
}

.latest-headlines-grid {
    grid-row-end: span 3;
}

.latest-headlines-grid a {
    font-weight: bold;
}

.latest-headlines-grid div, .grid-2 div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.latest-headlines-grid span {
    border-bottom: 2px solid #7d161e;
}

.newsletter {
    background-color: #f1efeb;
    text-align: center;
    height: 250px;
}

.newsletter-item {
    height: 120px;
    border-bottom: 1px solid #fff;
}

.prompt {
    color: #0a0908;
    margin-bottom: 2rem;
}

.sign-up {
    background-color: #7d161e;
    font-size: 15px;
    border-radius: 4px;
    color: #fff;
    padding: 0.8125em 1.0625em;
    text-shadow: 0 0 1px #7d161e;
    transition: background-color 100ms linear, color 100ms linear;
}

.newsletter .fa {
    padding: 20px;
    font-size: 12px;
    width: 50px;
    text-decoration: none;
    color: white;
    background-color: #7d161e;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.2;
}

.articles {
    font-weight: bold;
}

.subscriber-only-tag {
    font-family: SourceSansPro, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    background-color: #7d161e;
    display: block;
    width: fit-content;
    margin: auto auto 3px 0;
    padding: 0 5px 2px 5px;
}


.election-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 15px;
}

.election-grid-1 span a, .election-grid-2 span a, .election-grid-3 span a{
    font-size: 20px;
    font-weight: 500;
}

.fa-chevron-right {
    color: #7d161e;
}


.election-grid div {
    padding-top: 20px;
    padding-bottom: 20px;
}

.election-img-div {
    border-top: 2px solid #7d161e;
}


h1 {
    color: #7d161e;
    border-bottom: 2px solid #7d161e;
}

footer {
    padding-top: 2em;
    background-color: #f5f5f5;
    border-top: 1px solid #ababab;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.35) inset;
}

footer a{
    color: black;
    text-decoration: none;
}

.footer-grid {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 60px;
    margin: 0 4em;
}

.footer-grid-1 {
    grid-column-end: span 4;
}

.footer-logo {
    width: 20%;
}

.footer-list-item {
    margin: 20px 10px 20px 10px;
}

.footer-menu-item {
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
    margin: 10px 10px;
}

.footer-activities:hover {
    text-decoration: underline;
}

.legal {
    margin-top: 20px;
    border-top: 1px solid #ababab;
    padding: 0 20px 20px;
}

.legal a, .legal span {
    padding: 0 10px;
    color: gray;
    font-size: 13px;
}





