* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Droid Sans", Helvetica, sans-serif;
    font-size: 20px;
}

@font-face {
    font-family: DroidSans;
    src: url("fonts/DroidSans.ttf") format("truetype");
}

@font-face {
    font-family: DroidSerif;
    src: url("fonts/DroidSerif.ttf") format("truetype");
}

@font-face {
    font-family: SourceSansPro;
    src: url("fonts/SourceSansPro.ttf") format("truetype");
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:hover {
    color: #7d161e;
}

ul {
    list-style-type: none;
}

ul.counter {
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

ul.counter li {
    counter-increment: item;
    position: relative;
    list-style: none;
    font-size: 16px;
    display: inline-flex;
    padding: 1em 0 0.3em 0;
    font-weight: bold;
    line-height: 20px;
}

ul.counter li:before {
    content: counter(item);
    background-color: #7d161e;
    color: white;
    font-weight: bolder;
    min-width: 32px !important;
    max-width: 32px !important;
    min-height: 32px !important;
    max-height: 32px !important;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    margin-right: 0.6em;
    font-size: 20px;
}


.nav-primary {
    background-color: white;
    color: black;
    display: flex;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 4em;
    border-bottom: 1px solid #9d9a98;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .25);
}

.menu-toggle {
    width: 33%;
    display: flex;
    align-items: center;
    padding: 0.9375rem;
}

.label {
    font: normal 600 0.9375em/1.0666666667 "Droid Sans", Helvetica, sans-serif;
    padding-left: 0.25rem;
    color: #0a0908;
}

.logo {
    width: 33%;
    height: auto;
    align-self: center;
}

.nav__logo {
    margin: 0 auto;
    max-height: 3em;
    width: 100%;
    object-fit: contain;
}

.sub-login {
    width: 30%;
    margin-top: 20px;
}

.sub-login span {
    padding-right: 5px;
}

.list-item {
    float: right;
}

.menu-item {
    background-color: #7d161e;
    color: #fff;
    text-align: center;
    padding: 0.5901875em 0.41875em 0.5901875em 0.41875em;
    border-radius: 4px;
    font: normal 600 0.9375em/1.7333333333 "Droid Sans", Helvetica, sans-serif;
}

.menu-item:hover {
    background-color: red;
    text-decoration: underline;
}

.final-div {
    width: 4%;
}

.container {
    max-width: 955px;
    margin-left: 8em;
}


.grid {
    display: grid;
    grid-template-columns: 300px 300px auto;
    column-gap: 20px;
    row-gap: 15px;
}


.grid-1 .grid-2 {
    border-bottom: 1px solid #000000;
    padding-bottom: 25px;
}

.header-text {
    font-size: 25px;
}

.header-bold-text {
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
}

.centered {
    text-align: center !important;
}

.grid-3 {
    grid-row-end: span 3;
}

.grid-3 a {
    font-weight: bold;
}

.grid-3 div, .grid-2 div{
    padding-top: 10px;
    padding-bottom: 10px;
}

.grid-3 span {
    border-bottom: 2px solid #7d161e;
}

.newsletter {
    background-color: #f1efeb;
    text-align: center;
    height: 250px;
}

.newsletter-item {
    height: 120px;
    border-bottom: 1px solid #fff;
}

.prompt {
    color: #0a0908;
    margin-bottom: 2rem;
}

.sign-up {
    background-color: #7d161e;
    font-size: 15px;
    margin-top: 2rem;
    border-radius: 4px;
    color: #fff;
    padding: 0.8125em 1.0625em;
    text-shadow: 0 0 1px #7d161e;
    transition: background-color 100ms linear, color 100ms linear;
}

.newsletter .fa {
    padding: 20px;
    font-size: 12px;
    width: 50px;
    text-decoration: none;
    color: white;
    background-color: #7d161e;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.articles {
    font-weight: bold;
}

.subscriber-only-tag {
    font-family: SourceSansPro, Helvetica, sans-serif;
    color: white;
    font-size: 10px;
    line-height: 22px;
    font-weight: bold;
    background-color: #7d161e;
    display: block;
    width: fit-content;
    margin: auto auto 3px 0;
    padding: 0 5px 2px 5px;
}

h1 {
    color: #7d161e;
    border-bottom: 2px solid #7d161e;
}


.footer-grid {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    column-gap: 20px;
}

.footer-logo {
    width: 80%;
    margin: 0 2.5%;
}

.footer-list-item{
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 2px solid black;
}

.footer-menu-item{
    display: flex;
    flex-direction: column;
    margin: 8px 1% 0 1%;
    padding-top: 0.5em;
}





